<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DAWS"
			 connectionString="Server=;Database=; User ID=; Password=; TrustServerCertificate=true;"
			 providerName="System.Data.SqlClient" />
		<add name="HISS"
			 connectionString="Server=;Database=;User ID=;Password=;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>