<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DAWS"
			 connectionString="Server=192.168.141.6;Database=ITApps; User ID=ITApps; Password=SQLS3rv3r2!#; TrustServerCertificate=true;"
			 providerName="System.Data.SqlClient" />
		<add name="HISS"
			 connectionString="Server=192.168.141.3;Database=HIMES_DAWS;User ID=PlantSupport;Password=plantsupport1522;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>